# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll


# Compiled Static libraries
*.lib

# Executables
*.exe

# Folders
bin/
obj/
src/.vs/

# VS proj additional files
*.user